/* Basic Styles for CS Sermons */

.cs_sermon { 
    clear: both; padding: 15px 0;    
}

.cs_sermon img { 
    width: 80px;
    float: left; 
    padding: 2px;
    background: #fff;
    border:1px solid #ddd; 
}

.cs_sermon_title {  
    font-size: 21px; 
    color: #555;
    font-weight: normal;
    margin: 0 0 5px 0px;
}
.hasimage .cs_sermon_title { 
    margin-left: 100px;
 }

.cs_sermon_title a {  
    color: #555;
    
}

.cs_sermon_title span { 
    font-size: 13px; 
    color: #999;
    text-transform: uppercase;
}

.cs_sermon.hasimage audio { 
    display:block;
    margin-left: 100px;
 }
 
 .cs_sermon_meta { 
     font-size: 14px; 
     color: #777; 
     margin: 0;
     padding-top: 5px; 
 }
 
 .cs_sermon_meta a { 
     color: #999;
  }
  
  .cs_sermon_meta span { margin-right:10px; }
 
 .hasimage .cs_sermon_meta { 
     margin-left: 100px; 
 }