.cs_pathway { margin-bottom: 20px; }
    .cs_pathway h3 { margin: 0 0 5px 0; }
    .cs_pathway p { color: @midgrey; font-size: 14px; margin: 0; background: #eee;  }
    .cs_pathway p a:link, .cs_pathway p a:visited { color: #777; display: block; padding: 3px 5px; }
    .cs_pathway img { display: block; }
